pip
ipykernel
numpy
pandas
matplotlib

tensorflow-macos; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
tensorflow-probability
tensorflow-addons

gdown
